@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  direction: rtl;
}
body {
  font-family: "IRANSans";
  font-weight: normal;
  font-style: normal;
}

@layer base {
}

@layer utilities {
  .h-modal {
    height: calc(100% - 2rem);
  }
  .sr-only {
    clip: rect(0, 0, 0, 0);
  }
}

@layer components {
  .hoverAnimation {
    @apply cursor-pointer  items-center justify-center rounded-full 
    p-2 hover:bg-slate-600 hover:bg-opacity-20 dark:hover:bg-slate-300 dark:hover:bg-opacity-20;
  }
  .login-form {
    @apply mt-8 flex flex-col items-start gap-5;
  }
  .login-form__div {
    @apply grid w-full max-w-lg px-1 sm:grid-cols-[20fr_80fr];
  }
  .login-form__input {
    @apply block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5  text-gray-900
     focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700
      dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500
       dark:focus:ring-blue-500;
  }

  .login-form__btn {
    @apply mt-2 rounded-sm  bg-blue-400 py-2 px-3 text-white  
    shadow-sm disabled:cursor-not-allowed disabled:bg-slate-400 
    disabled:bg-opacity-50;
  }

  .error-bx {
    @apply mt-2 rounded-md bg-red-500 bg-opacity-60 p-2 text-center;
  }
  .error-bx__message {
    @apply text-white;
  }
  .sidebar__item {
    @apply cursor-pointer select-none tracking-tight  text-gray-500 dark:text-gray-200;
  }
  .sidebar__item-label {
    @apply flex w-full justify-between px-3  hover:text-blue-500 dark:hover:text-blue-400;
  }
  .sidebar__item-label--open {
    @apply pb-2 text-blue-500 dark:text-blue-400;
  }

  .pricing__btn {
    @apply mt-6 inline-block select-none rounded-2xl bg-gradient-to-tr from-blue-400 to-blue-500 p-3 text-white  duration-200 hover:bg-gradient-to-tl hover:from-blue-500 hover:to-blue-400 disabled:cursor-not-allowed disabled:bg-gradient-to-t disabled:from-slate-600 disabled:to-gray-500 disabled:hover:bg-gradient-to-tl;
  }
  .products__list {
    @apply grid grid-cols-1 content-center justify-items-center  gap-x-4 gap-y-9 md:grid-cols-2  xl:grid-cols-3;
  }

  .data-picker__input {
    @apply w-36 rounded-md border-2 border-gray-300 p-[7px] outline-none focus:border-blue-400 dark:bg-slate-700 dark:text-white;
  }

  .checkout__input {
    @apply w-32 rounded-md border-2 border-gray-300 p-[7px] outline-none focus:border-blue-400 dark:bg-slate-700 dark:text-white;
  }
}

.hide-arrow::-webkit-outer-spin-button,
.hide-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

.pricing__label::after,
.pricing__label::before {
  content: "";
  position: absolute;
}

.pricing__label::before {
  top: 0;
  right: 100%;
  width: 16px;
  height: 14px;
  left: -14px;
  background-color: rgb(37 99 235);
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.pricing__label::after {
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 14px;
  clip-path: polygon(0 100%, 50% 0%, 100% 100%);
  @apply bg-white dark:bg-gray-800;
}

.dir-ltr {
  direction: ltr;
}

html::-webkit-scrollbar {
  width: 12px;
  height: 14px;
}

html::-webkit-scrollbar-track {
  border-radius: 100vh;
}

html::-webkit-scrollbar-thumb {
  background: rgb(128, 128, 128);
  background: rgb(110, 110, 110);

  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(110, 110, 110);
}

@font-face {
  font-family: Vazir;
  src: url("../../assets/fonts/Vazir/Vazirmatn-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../../assets/fonts/Vazir/Vazirmatn-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../../assets/fonts/Vazir/Vazirmatn-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../../assets/fonts/Vazir/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../../assets/fonts/Vazir/Vazirmatn-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../../assets/fonts/Vazir/Vazirmatn-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../../assets/fonts/Vazir/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: IRANSans;
  src: url("../../assets/fonts/IRANSans/woff2/IRANSansWeb_UltraLight.woff2");
  font-weight: 200;
  font-size: normal;
}
@font-face {
  font-family: IRANSans;
  src: url("../../assets/fonts/IRANSans/woff2/IRANSansWeb_Light.woff2");
  font-weight: 300;
  font-size: normal;
}
@font-face {
  font-family: IRANSans;
  src: url("../../assets/fonts/IRANSans/woff2/IRANSansWeb_Medium.woff2");
  font-size: normal;
  font-weight: 500;
}
@font-face {
  font-family: IRANSans;
  src: url("../../assets/fonts/IRANSans/woff2/IRANSansWeb.woff2");
  font-size: normal;
  font-weight: normal;
}
@font-face {
  font-family: IRANSans;
  src: url("../../assets/fonts/IRANSans/woff2/IRANSansWeb_Bold.woff2");
  font-size: normal;
  font-weight: bold;
}
@font-face {
  font-family: IRANSans;
  src: url("../../assets/fonts/IRANSans/woff2/IRANSansWeb_Black.woff2");
  font-size: normal;
  font-weight: 900;
}
