@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: "";
}
html {
  direction: rtl;
}
body {
  font-family: "Vazir";
  font-weight: 400;
  font-style: normal;
}

@layer components {
  .hoverAnimation {
    @apply cursor-pointer  items-center justify-center rounded-full 
    p-2 hover:bg-slate-300 hover:bg-opacity-20;
  }
  .login-form {
    @apply mt-8 flex flex-col items-start gap-5;
  }
  .login-form__div {
    @apply grid w-full max-w-lg px-1 sm:grid-cols-[20fr_80fr];
  }
  .login-form__input {
    @apply rounded-md border-2 
    border-gray-400 p-2 outline-none  
   focus:ring-2 focus:ring-cyan-500 focus:ring-opacity-50;
  }

  .login-form__btn {
    @apply mt-2 rounded-sm  bg-cyan-400 py-2 px-3 text-white  
    shadow-sm disabled:cursor-not-allowed disabled:bg-slate-400 
    disabled:bg-opacity-50;
  }

  .error-bx {
    @apply mt-2 rounded-md bg-red-500 bg-opacity-60 p-2 text-center;
  }
  .error-bx__message {
    @apply text-white;
  }
}

@layer base {
  html {
    @apply dark:scrollbar-thumb-black;
  }
}

.dir-ltr {
  direction: ltr;
}

<<<<<<< HEAD
=======
html::-webkit-scrollbar {
  width: 12px;
  height: 14px;
}

html::-webkit-scrollbar-track {
  border-radius: 100vh;

  background: #f7f4ed;
}

html::-webkit-scrollbar-thumb {
  background: #e0cbcb;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

html::-webkit-scrollbar-thumb:hover {
  background: #755f69;
}

>>>>>>> 92ccbb6e9300ec7668d7f1ac4e89c7764a318552
@font-face {
  font-family: Vazir;
  src: url("../../assets/fonts/Vazirmatn-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../../assets/fonts/Vazirmatn-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../../assets/fonts/Vazirmatn-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../../assets/fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../../assets/fonts/Vazirmatn-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../../assets/fonts/Vazirmatn-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../../assets/fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
